<section class="section">
    <div class="container">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title">{{document.title}}</p>
                </div>
                <div class="level-item" *ngIf="!document.is_active">
                    <p class="subtitle has-text-danger">TÖRÖLVE</p>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <p class="level-item">
                    <button class="button" (click)="download()" *ngIf="document.file_id">Letöltés</button>
                </p>
            </div>
        </nav>
        <div class="columns">
            <div class="column is-6">
                <form class="form" (ngSubmit)="submit()">
                    <div class="field">
                        <label class="label">Dokumentum címe</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa dokumentum" name="title"
                                [(ngModel)]="document.title" [disabled]="!document.is_active">
                        </div>
                    </div>
                    {{document.is_active}}
                    <div class="field">
                        <label class="label">Dokumentum határideje</label>
                        <div class="control">
                            <input class="input" type="date" name="duedate" [(ngModel)]="document.due_date"
                                [disabled]="!document.is_active">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Dokumentum referencia száma</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számla száma" name="reference"
                                [(ngModel)]="document.reference" [disabled]="!document.is_active">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Dokumentum leírása</label>
                        <div class="control">
                            <textarea class="textarea" name="description" cols="30" rows="10"
                                [(ngModel)]="document.description" [disabled]="!document.is_active"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button" type="submit" [disabled]="!document.is_active">Mentés</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <form class="form" (submit)="documentUpload()">
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="new_document" accept="application/pdf"
                        (change)="onFileChange($event)" [disabled]="!document.is_active">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Fájl kiválasztása
                        </span>
                    </span>
                </label>
            </div>
            <button class="button" type="submit">Feltöltés</button>
        </form>
        <hr>
        <button class="button is-danger" (click)="remove()" *ngIf="document.is_active">Törlés</button>
    </div>
</section>